.election-info-page {
    padding: 2rem;
    margin-top: 8vh;
    height: 70vh;

    button {
        background-color: #eaeaea;
        color: #333;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #cccccc;
        }
    }

    .election-info {
        padding: 24px 0 32px;
        color: $color-neutral-6;

        &__cd {
            margin: 32px 0;
        }

        &__title {
            font-size: 32px;
            margin: 12px 0;
            font-weight: lighter;

            &>span {
                opacity: 0.5;
            }
        }

        &__description {
            font-size: 20px;
            margin: 6px 0;
            opacity: 0.9;

            &>span {
                opacity: 0.5;
            }
        }


        &__candidates-options {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 12px 0;

            &>h2 {
                margin: 12px 0;
                margin-right: 12px;
                display: inline-block;
            }

            // &>button {}
        }

        &__candidates-list {
            border-top: 3px solid $color-neutral-2;
            padding: 12px 0;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            // justify-content: space;
            height: 40vh;
            overflow-y: scroll;

            &-participants {
                display: flex;
                flex-direction: row;
            }

            &-winner {}

            .election-info__candidate {
                // text-align: center;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 12px;
                border: 3px solid $color-neutral-2;
                border-radius: 6px;
                color: $color-neutral-5;
                padding: 12px;
                width: 300px;
                height: 200px;

                &-winnertag {
                    background-color: rgba($color: green, $alpha: 0.6);
                    padding: 6px;
                    // position: absolute;
                    // top: 12px;
                    // left: 10px;
                    // transform: rotate(45deg);
                    // color: limegreen;
                    color: white;
                    border-radius: 20px;
                }

                &-head {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    // background-color: tomato;
                    width: 100%;

                    &>img {
                        width: 20%;
                        border: 1px solid $color-neutral-5;
                        border-radius: 50%;
                        margin-right: 12px;
                    }

                    &-name {
                        margin: 0;
                        font-size: 24px;
                    }
                }

                &-body {
                    padding: 12px 0;
                    // text-align: center;
                    width: 100%;

                    &-info {
                        margin: 12px 0;
                        font-size: 20px;
                    }
                }

                .election-info__btn {
                    position: absolute;
                    bottom: 12px;
                    margin: 0 auto;
                    width: 96%;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-top: 0.5rem;
                    background-color: #eaeaea;
                    color: #333;
                    padding: 0.5rem 1rem;
                    border-radius: 4px;
                    text-decoration: none;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: #cccccc;
                    }

                    &.disabled {
                        background-color: #f8f8f8;
                        color: #999;
                        cursor: not-allowed;

                        &:hover {
                            background-color: #f8f8f8;
                        }
                    }
                }
            }
        }
    }
}