.election-container {
    margin-top: 10vh;
    // height: 96vh;
    // background-color: tomato;
    padding: 12px;

    .tab {
        border: none;
        border-radius: 6px 6px 0 0;
        // border-bottom: 2px solid $color-neutral-6;

        &-active {
            background-color: $color-neutral-6;
            color: $color-neutral-1;
        }
    }

    &-btn {
        margin: 12px 0;
        background-color: $color-neutral-6;
        color: $color-neutral-1;

        &:hover {
            background-color: $color-neutral-5;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        height: 70vh;
        overflow-x: auto;
        border: 2px solid $color-neutral-5;
        border-radius: 12px;
        border-top-left-radius: 0;
        padding: 12px;
    }
}